body {
    font-family: sans-serif;
}

h1 {
    color: blueviolet;
}

#GameContainer {
    width: 40%;
    min-width: 560px;
    animation: gCFade 1s;
    position: relative;
    top: 20px;
}

#pauseLabel {
    position: relative;
    bottom: 500px;
    background: white;
    width: 150px;
    z-index: 1;
    left: 220px;
    height: 30px;

    text-align: center;


}

#pauseLabel > span{
    position: relative;
    top: 7px;
    font-weight: bold;

}

@keyframes gCFade {
    from { opacity: 0; width:33% }
    to {opacity: 1; width:40%}
}

.MiddleElement {
    position: relative;
    margin: auto;
}

#theCanvas {
    position:relative;
    width: 360px;
    margin: auto;
    background-color: Black;
}


#ControlElments {
    display: inline-block;
    position: relative;
    width: 100px;
    margin: auto;
    left: 500px;
}

#IndicatorElements {
    display: inline-block;
    position: relative;
    background: black;
    color: white;
    width: 360px;
    left: 104px;

}

#IndicatorHeader {
    position: relative;
    left: 38px;
    top: 5px;
}

.textIndicator {
    display: inline-block;
    width: 50px;

}

#PreviewContainer {
    position: relative;
    left: 140px;
    top: 20px;


}

.preview {
    width: 50px;
    height: 50px;
    position: relative;
    top: -25px;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: white;
    */

}

#firstPreview {
    width: 80px;
    height: 80px;
    /*
    border-style: solid;
    border-width: 2px;
    border-color: white;
    */
}


.menuItem {
    border-style: solid;
    border-color: Black;
    border-width: 2px;
}

.menuItem:hover {
    background-color: Black;
    color: White;
}

#GameOverScreen {
    min-width: 400px;
    color: crimson;
    animation: goFadeIn 3s;
    width: 35%;
}

@keyframes goFadeIn {
    from { opacity: 0; width:30%}
    to {opacity: 1; width: 35%}
}

